<a href="https://colab.research.google.com/github/27ShanuGarg/Machine-Learning-IRIS/blob/main/IRIS_DataSet_Practice_by_H2O.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [129]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [130]:
from sklearn.datasets import load_iris
data = load_iris()
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df['target'] = pd.Series(data.target)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [99]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [3]:
!nvidia-smi

Sun Aug 14 10:43:45 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   34C    P8     9W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [5]:
!apt-get install default-jre
!java -version
!apt autoremove

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 19 not upgraded.
openjdk version "11.0.15" 2022-04-19
OpenJDK Runtime Environment (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1)
OpenJDK 64-Bit Server VM (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1, mixed mode, sharing)
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages will be REMOVED:
  libnvidia-common-460
0 upgraded, 0 newly installed, 1 to remove and 19 not upgraded.
After this operation, 35.8 kB disk space will be freed.
(Reading database ... 155680 files and directories currently installed.)
Removing libnvidia-common-460 (460.106.00-0ubuntu1) ...

In [6]:
!pip install h2o

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting h2o
  Downloading h2o-3.36.1.4.tar.gz (177.1 MB)
     |████████████████████████████████| 177.1 MB 43 kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.10)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2022.6.15)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.36.1.4-py2.py3-none-any.whl size=177128127 sha256=fcd95d3c8428c1c991c5631d0e85b82cbf9bf6f0e9c964a17044652955adafd7
  Stored in directory: /root/.cache/pip/wheels/02/f9/18/5fbae4db903beda26f764b6e035cb41b37713fed8a6b9cd403
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.36.1.4

In [7]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.15" 2022-04-19; OpenJDK Runtime Environment (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1); OpenJDK 64-Bit Server VM (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp_w19oyjg
  JVM stdout: /tmp/tmp_w19oyjg/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp_w19oyjg/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.4
H2O_cluster_version_age:    10 days
H2O_cluster_name:           H2O_from_python_unknownUser_3tkzbs
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.172 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.7.13 final
--------------------------  ----------------------------------

In [8]:
!nvidia-smi

Sun Aug 14 10:46:03 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   34C    P8     9W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [131]:
target_map = {0:'A', 1:'B', 2:'C'}
# df['target']
df['target'] = df['target'].map(target_map)
df['target']

0      A
1      A
2      A
3      A
4      A
      ..
145    C
146    C
147    C
148    C
149    C
Name: target, Length: 150, dtype: object

In [132]:
from h2o.automl import H2OAutoML
# cols = df.columns.tolist()
# df = df[df.target !=2][cols]
# df

h2o_df = h2o.H2OFrame(df)
# h2o_df = h2o.import_file('/content/Iris.csv')
h2o_df

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
5.1,3.5,1.4,0.2,A
4.9,3,1.4,0.2,A
4.7,3.2,1.3,0.2,A
4.6,3.1,1.5,0.2,A
5,3.6,1.4,0.2,A
5.4,3.9,1.7,0.4,A
4.6,3.4,1.4,0.3,A
5,3.4,1.5,0.2,A
4.4,2.9,1.4,0.2,A
4.9,3.1,1.5,0.1,A

In [133]:
h2o_df.types

{'petal length (cm)': 'real',
 'petal width (cm)': 'real',
 'sepal length (cm)': 'real',
 'sepal width (cm)': 'real',
 'target': 'enum'}

In [134]:
h2o_df.describe(chunk_summary=True)

Rows:150
Cols:5

Chunk compression summary:

,chunk_type,chunk_name,count,count_percentage,size,size_percentage
0,C1N,1-Byte Integers (w/o NAs),1,20.0,218 B,18.890814
1,C1S,1-Byte Fractions,4,80.0,936 B,81.109184

Frame distribution summary:

,,size,number_of_rows,number_of_chunks_per_column,number_of_chunks
0,127.0.0.1:54321,1.1 KB,150.0,1.0,5.0
1,mean,1.1 KB,150.0,1.0,5.0
2,min,1.1 KB,150.0,1.0,5.0
3,max,1.1 KB,150.0,1.0,5.0
4,stddev,0 B,0.0,0.0,0.0
5,total,1.1 KB,150.0,1.0,5.0

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.843333333333333,3.0573333333333315,3.758,1.1993333333333336,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8280661279778637,0.4358662849366979,1.7652982332594664,0.7622376689603467,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,A
1,4.9,3.0,1.4,0.2,A
2,4.7,3.2,1.3,0.2,A
3,4.6,3.1,1.5,0.2,A
4,5.0,3.6,1.4,0.2,A
5,5.4,3.9,1.7,0.4,A
6,4.6,3.4,1.4,0.3,A
7,5.0,3.4,1.5,0.2,A
8,4.4,2.9,1.4,0.2,A
9,4.9,3.1,1.5,0.1,A

In [135]:
churn_df = h2o_df
churn_train,churn_test,churn_valid = churn_df.split_frame(ratios=[.7, .15])
# train, test = h2o_df.split_frame(ratios=[0.8], seed = 1)
churn_train.shape,churn_test.shape,churn_valid.shape

((105, 5), (24, 5), (21, 5))

In [136]:
y = "target"
x = churn_df.columns
x.remove(y)
# x.remove('Id')
x, y

(['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'target')

In [151]:
aml = H2OAutoML(max_models = 10, exclude_algos = ["StackedEnsemble", "DeepLearning"], verbosity="info", nfolds=0,distribution="multinomial",seed=1234)

In [152]:
aml.train(x = x, y = y, training_frame = churn_train, validation_frame=churn_valid)
# aml.train(training_frame = train, y = y)

AutoML progress: |
11:40:05.453: Project: AutoML_9_20220814_114005
11:40:05.453: Cross-validation disabled by user: no fold column nor nfolds > 1.
11:40:05.453: Setting stopping tolerance adaptively based on the training frame: 0.05
11:40:05.453: Build control seed: 1234
11:40:05.453: training frame: Frame key: AutoML_9_20220814_114005_training_py_77_sid_8567    cols: 5    rows: 105  chunks: 1    size: 1547  checksum: -4298685719932440536
11:40:05.453: validation frame: Frame key: py_79_sid_8567    cols: 5    rows: 21  chunks: 1    size: 1127  checksum: 8186793666252274276
11:40:05.453: leaderboard frame: Frame key: py_79_sid_8567    cols: 5    rows: 21  chunks: 1    size: 1127  checksum: 8186793666252274276
11:40:05.453: blending frame: NULL
11:40:05.453: response column: target
11:40:05.453: fold column: null
11:40:05.453: weights column: null
11:40:05.453: Loading execution steps: [{XGBoost : [def_2 (1g, 10w), def_1 (2g, 10w), def_3 (3g, 10w), grid_1 (4g, 90w), lr_search (7g, 30w)]}, {GLM : [def_1 (1g, 10w)]}, {DRF : [def_1 (2g, 10w), XRT (3g, 10w)]}, {GBM : [def_5 (1g, 10w), def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w), def_1 (3g, 10w), grid_1 (4g, 60w), lr_annealing (7g, 10w)]}, {DeepLearning : [def_1 (3g, 10w), grid_1 (4g, 30w), grid_2 (5g, 30w), grid_3 (5g, 30w)]}, {completion : [resume_best_grids (6g, 60w)]}, {StackedEnsemble : [monotonic (9g, 10w), best_of_family_xglm (10g, 10w), all_xglm (10g, 10w)]}]
11:40:05.456: Disabling Algo: StackedEnsemble as requested by the user.
11:40:05.456: Disabling Algo: DeepLearning as requested by the user.
11:40:05.457: AutoML job created: 2022.08.14 11:40:05.452
11:40:05.458: AutoML build started: 2022.08.14 11:40:05.457
11:40:05.459: AutoML: starting XGBoost_1_AutoML_9_20220814_114005 model training
11:40:05.608: New leader: XGBoost_1_AutoML_9_20220814_114005, mean_per_class_error: 0.11428571428571428
11:40:05.609: AutoML: starting GLM_1_AutoML_9_20220814_114005 model training


11:40:06.5: New leader: GLM_1_AutoML_9_20220814_114005, mean_per_class_error: 0.0
11:40:06.5: AutoML: starting GBM_1_AutoML_9_20220814_114005 model training
11:40:06.6: _min_rows param, The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 105.0.
11:40:06.6: AutoML: starting XGBoost_2_AutoML_9_20220814_114005 model training
11:40:06.211: AutoML: starting DRF_1_AutoML_9_20220814_114005 model training
11:40:06.292: AutoML: starting GBM_2_AutoML_9_20220814_114005 model training

█
11:40:06.468: AutoML: starting GBM_3_AutoML_9_20220814_114005 model training


11:40:06.592: AutoML: starting GBM_4_AutoML_9_20220814_114005 model training

█
11:40:06.754: AutoML: starting XGBoost_3_AutoML_9_20220814_114005 model training

███
11:40:07.121: AutoML: starting XRT_1_AutoML_9_20220814_114005 model training
11:40:07.333: AutoML: starting GBM_5_AutoML_9_20220814_114005 model training

██████████████████████████████████████████████████████████| (done) 100%

11:40:07.554: Skipping StackedEnsemble 'monotonic' due to the exclude_algos option or it is already trained.
11:40:07.555: Skipping StackedEnsemble 'best_of_family_xglm' due to the exclude_algos option or it is already trained.
11:40:07.555: Skipping StackedEnsemble 'all_xglm' due to the exclude_algos option or it is already trained.
11:40:07.556: Actual modeling steps: [{XGBoost : [def_2 (1g, 10w)]}, {GLM : [def_1 (1g, 10w)]}, {XGBoost : [def_1 (2g, 10w)]}, {DRF : [def_1 (2g, 10w)]}, {GBM : [def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w)]}, {XGBoost : [def_3 (3g, 10w)]}, {DRF : [XRT (3g, 10w)]}, {GBM : [def_1 (3g, 10w)]}]
11:40:07.556: AutoML build stopped: 2022.08.14 11:40:07.556
11:40:07.556: AutoML build done: built 10 models
11:40:07.556: AutoML duration:  2.099 sec

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_1_AutoML_9_20220814_114005


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,multinomial,multinomial,Ridge ( lambda = 1.137E-4 ),"nlambda = 30, lambda.max = 43.86, lambda.min = 1.137E-4, lambda.1s...",15,12,110,AutoML_9_20220814_114005_training_py_77_sid_8567

ModelMetricsMultinomialGLM: glm
** Reported on train data. **

MSE: 0.0143754138479566
RMSE: 0.11989751393568009

ModelMetricsMultinomialGLM: glm
** Reported on validation data. **

MSE: 0.014516089908425508
RMSE: 0.12048273697266969

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_test,alpha,iterations,...,training_r2,training_classification_error,training_auc,training_pr_auc,validation_rmse,validation_logloss,validation_r2,validation_classification_error,validation_auc,validation_pr_auc
0,,2022-08-14 11:40:05,0.000 sec,2,.44E2,15.0,2.14839,2.217689,0.0,NaN,...,,,,,,,,,,
1,,2022-08-14 11:40:05,0.004 sec,4,.27E2,15.0,2.123897,2.196209,0.0,NaN,...,,,,,,,,,,
2,,2022-08-14 11:40:05,0.385 sec,5,None,NaN,,,,5.0,...,0.97769,0.019048,NaN,NaN,0.120483,0.051557,0.975188,0.0,NaN,NaN
3,,2022-08-14 11:40:05,0.008 sec,6,.17E2,15.0,2.086311,2.163181,0.0,NaN,...,,,,,,,,,,
4,,2022-08-14 11:40:05,0.013 sec,8,.11E2,15.0,2.030158,2.113694,0.0,NaN,...,,,,,,,,,,
5,,2022-08-14 11:40:05,0.017 sec,10,.65E1,15.0,1.949586,2.042374,0.0,NaN,...,,,,,,,,,,
6,,2022-08-14 11:40:05,0.022 sec,12,.41E1,15.0,1.84063,1.945421,0.0,NaN,...,,,,,,,,,,
7,,2022-08-14 11:40:05,0.028 sec,15,.25E1,15.0,1.703406,1.823081,0.0,NaN,...,,,,,,,,,,
8,,2022-08-14 11:40:05,0.035 sec,18,.16E1,15.0,1.545399,1.680885,0.0,NaN,...,,,,,,,,,,
9,,2022-08-14 11:40:05,0.041 sec,21,.97E0,15.0,1.378175,1.529275,0.0,NaN,...,,,,,,,,,,
10,,2022-08-14 11:40:05,0.051 sec,24,.6E0,15.0,1.214439,1.379395,0.0,NaN,...,,,,,,,,,,
11,,2022-08-14 11:40:05,0.076 sec,27,.37E0,15.0,1.063553,1.239375,0.0,NaN,...,,,,,,,,,,
12,,2022-08-14 11:40:05,0.088 sec,30,.23E0,15.0,0.928505,1.111045,0.0,NaN,...,,,,,,,,,,
13,,2022-08-14 11:40:05,0.102 sec,33,.14E0,15.0,0.807641,0.991859,0.0,NaN,...,,,,,,,,,,
14,,2022-08-14 11:40:05,0.109 sec,36,.9E-1,15.0,0.696556,0.876873,0.0,NaN,...,,,,,,,,,,
15,,2022-08-14 11:40:05,0.117 sec,39,.56E-1,15.0,0.59293,0.762829,0.0,NaN,...,,,,,,,,,,
16,,2022-08-14 11:40:05,0.127 sec,43,.35E-1,15.0,0.496961,0.64921,0.0,NaN,...,,,,,,,,,,
17,,2022-08-14 11:40:05,0.136 sec,47,.21E-1,15.0,0.411619,0.541037,0.0,NaN,...,,,,,,,,,,
18,,2022-08-14 11:40:05,0.148 sec,52,.13E-1,15.0,0.338968,0.445215,0.0,NaN,...,,,,,,,,,,
19,,2022-08-14 11:40:05,0.160 sec,57,.83E-2,15.0,0.279634,0.36211,0.0,NaN,...,,,,,,,,,,

See the whole table with table.as_data_frame()

Variable Importances:

            variable  relative_importance  scaled_importance  percentage
0  petal length (cm)            16.520981           1.000000    0.445946
1   petal width (cm)            11.624002           0.703590    0.313763
2  sepal length (cm)             4.569942           0.276614    0.123355
3   sepal width (cm)             4.332131           0.262220    0.116936

In [153]:
# Get leaderboard with all possible columns
lb = h2o.automl.get_leaderboard(aml, extra_columns = "ALL")
lb

model_id,mean_per_class_error,logloss,rmse,mse,training_time_ms,predict_time_per_row_ms,algo
GLM_1_AutoML_9_20220814_114005,0,0.0515571,0.120483,0.0145161,392,0.049713,GLM
GBM_3_AutoML_9_20220814_114005,0.0333333,0.161546,0.220572,0.0486519,119,0.079753,GBM
GBM_2_AutoML_9_20220814_114005,0.0333333,0.16246,0.225077,0.0506598,170,0.057063,GBM
GBM_4_AutoML_9_20220814_114005,0.0333333,0.153616,0.220747,0.0487291,153,0.055589,GBM
XRT_1_AutoML_9_20220814_114005,0.0333333,0.10874,0.200393,0.0401575,205,0.043169,DRF
DRF_1_AutoML_9_20220814_114005,0.0666667,0.13037,0.226797,0.0514371,77,0.036145,DRF
GBM_5_AutoML_9_20220814_114005,0.0666667,0.124079,0.220992,0.0488374,215,0.06114,GBM
XGBoost_2_AutoML_9_20220814_114005,0.114286,0.258179,0.279054,0.0778713,200,0.029592,XGBoost
XGBoost_1_AutoML_9_20220814_114005,0.114286,0.443065,0.367847,0.135312,140,0.039675,XGBoost
XGBoost_3_AutoML_9_20220814_114005,0.114286,0.258242,0.295566,0.087359,357,0.229945,XGBoost

In [140]:
churn_pred=aml.leader.predict(churn_test)
churn_pred.head()

glm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

predict,A,B,C
A,0.999691,0.000309496,1.10303e-19
A,0.999837,0.000163014,3.32027e-20
A,0.999828,0.000172466,4.83985e-21
A,0.997766,0.00223384,5.79089e-19
A,0.999049,0.000950794,1.1185e-18
A,0.999367,0.000632654,2.78018e-20
A,0.998643,0.00135695,7.686e-18
A,0.999946,5.4387e-05,2.59714e-21
A,0.999808,0.000192079,5.82836e-21
B,0.000316149,0.9986,0.00108368

In [142]:
aml.leader.model_performance(churn_test)

ModelMetricsMultinomialGLM: glm
** Reported on test data. **

MSE: 0.03366790493378229
RMSE: 0.1834881602005489

In [144]:
model_ids = list(aml.leaderboard['model_id'].as_data_frame().iloc[:,0])
model_ids

['GLM_1_AutoML_8_20220814_113237',
 'XGBoost_2_AutoML_8_20220814_113237',
 'GBM_2_AutoML_8_20220814_113237',
 'GBM_4_AutoML_8_20220814_113237',
 'GBM_5_AutoML_8_20220814_113237',
 'XGBoost_1_AutoML_8_20220814_113237',
 'GBM_3_AutoML_8_20220814_113237',
 'XRT_1_AutoML_8_20220814_113237',
 'DRF_1_AutoML_8_20220814_113237',
 'XGBoost_3_AutoML_8_20220814_113237']

In [146]:
h2o.get_model([mid for mid in model_ids if "XGBoost" in mid][0])

Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_2_AutoML_8_20220814_113237


Model Summary:

     number_of_trees
0               35.0

ModelMetricsMultinomial: xgboost
** Reported on train data. **

MSE: 0.035838743489757324
RMSE: 0.18931123445204545
LogLoss: 0.17022150105017814
Mean Per-Class Error: 0.04853240337111305
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

      A     B     C     Error     Rate
0  37.0   0.0   0.0  0.000000   0 / 37
1   0.0  34.0   3.0  0.081081   3 / 37
2   0.0   2.0  29.0  0.064516   2 / 31
3  37.0  36.0  32.0  0.047619  5 / 105

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.952381
1  2   1.000000
2  3   1.000000

ModelMetricsMultinomial: xgboost
** Reported on validation data. **

MSE: 0.058002159444901495
RMSE: 0.24083637483756787
LogLoss: 0.2246255090830386
Mean Per-Class Error: 0.03333333333333333
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

     A    B    C     Error    Rate
0  4.0  0.0  0.0  0.000000   0 / 4
1  0.0  7.0  0.0  0.000000   0 / 7
2  0.0  1.0  9.0  0.100000  1 / 10
3  4.0  8.0  9.0  0.047619  1 / 21

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.952381
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error,training_auc,training_pr_auc,validation_rmse,validation_logloss,validation_classification_error,validation_auc,validation_pr_auc
0,,2022-08-14 11:32:38,0.005 sec,0.0,0.666667,1.098612,0.704762,NaN,NaN,0.666667,1.098612,0.523810,NaN,NaN
1,,2022-08-14 11:32:38,0.045 sec,5.0,0.268969,0.300100,0.019048,NaN,NaN,0.321681,0.371532,0.095238,NaN,NaN
2,,2022-08-14 11:32:38,0.062 sec,10.0,0.197839,0.188612,0.038095,NaN,NaN,0.251774,0.246123,0.095238,NaN,NaN
3,,2022-08-14 11:32:38,0.075 sec,15.0,0.191557,0.174600,0.038095,NaN,NaN,0.248501,0.235802,0.095238,NaN,NaN
4,,2022-08-14 11:32:38,0.087 sec,20.0,0.190642,0.172549,0.047619,NaN,NaN,0.238956,0.223068,0.047619,NaN,NaN
5,,2022-08-14 11:32:38,0.103 sec,25.0,0.190036,0.171205,0.047619,NaN,NaN,0.242208,0.226965,0.095238,NaN,NaN
6,,2022-08-14 11:32:38,0.119 sec,30.0,0.189997,0.171277,0.047619,NaN,NaN,0.238199,0.221951,0.047619,NaN,NaN
7,,2022-08-14 11:32:38,0.141 sec,35.0,0.189311,0.170222,0.047619,NaN,NaN,0.240836,0.224626,0.047619,NaN,NaN

Variable Importances:

            variable  relative_importance  scaled_importance  percentage
0  petal length (cm)           107.276871           1.000000    0.485458
1   petal width (cm)            87.732567           0.817814    0.397014
2  sepal length (cm)            19.949959           0.185967    0.090279
3   sepal width (cm)             6.021487           0.056130    0.027249

In [148]:
out_glm = h2o.get_model([mid for mid in model_ids if "GLM" in mid][0])
out_glm

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_1_AutoML_8_20220814_113237


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,multinomial,multinomial,Ridge ( lambda = 1.137E-4 ),"nlambda = 30, lambda.max = 43.86, lambda.min = 1.137E-4, lambda.1s...",15,12,110,AutoML_8_20220814_113237_training_py_77_sid_8567

ModelMetricsMultinomialGLM: glm
** Reported on train data. **

MSE: 0.0143754138479566
RMSE: 0.11989751393568009

ModelMetricsMultinomialGLM: glm
** Reported on validation data. **

MSE: 0.014516089908425508
RMSE: 0.12048273697266969

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_test,alpha,iterations,...,training_r2,training_classification_error,training_auc,training_pr_auc,validation_rmse,validation_logloss,validation_r2,validation_classification_error,validation_auc,validation_pr_auc
0,,2022-08-14 11:32:38,0.000 sec,2,.44E2,15.0,2.14839,2.217689,0.0,NaN,...,,,,,,,,,,
1,,2022-08-14 11:32:38,0.006 sec,4,.27E2,15.0,2.123897,2.196209,0.0,NaN,...,,,,,,,,,,
2,,2022-08-14 11:32:38,0.546 sec,5,None,NaN,,,,5.0,...,0.97769,0.019048,NaN,NaN,0.120483,0.051557,0.975188,0.0,NaN,NaN
3,,2022-08-14 11:32:38,0.012 sec,6,.17E2,15.0,2.086311,2.163181,0.0,NaN,...,,,,,,,,,,
4,,2022-08-14 11:32:38,0.019 sec,8,.11E2,15.0,2.030158,2.113694,0.0,NaN,...,,,,,,,,,,
5,,2022-08-14 11:32:38,0.026 sec,10,.65E1,15.0,1.949586,2.042374,0.0,NaN,...,,,,,,,,,,
6,,2022-08-14 11:32:38,0.034 sec,12,.41E1,15.0,1.84063,1.945421,0.0,NaN,...,,,,,,,,,,
7,,2022-08-14 11:32:38,0.049 sec,15,.25E1,15.0,1.703406,1.823081,0.0,NaN,...,,,,,,,,,,
8,,2022-08-14 11:32:38,0.060 sec,18,.16E1,15.0,1.545399,1.680885,0.0,NaN,...,,,,,,,,,,
9,,2022-08-14 11:32:38,0.072 sec,21,.97E0,15.0,1.378175,1.529275,0.0,NaN,...,,,,,,,,,,
10,,2022-08-14 11:32:38,0.084 sec,24,.6E0,15.0,1.214439,1.379395,0.0,NaN,...,,,,,,,,,,
11,,2022-08-14 11:32:38,0.095 sec,27,.37E0,15.0,1.063553,1.239375,0.0,NaN,...,,,,,,,,,,
12,,2022-08-14 11:32:38,0.106 sec,30,.23E0,15.0,0.928505,1.111045,0.0,NaN,...,,,,,,,,,,
13,,2022-08-14 11:32:38,0.117 sec,33,.14E0,15.0,0.807641,0.991859,0.0,NaN,...,,,,,,,,,,
14,,2022-08-14 11:32:38,0.129 sec,36,.9E-1,15.0,0.696556,0.876873,0.0,NaN,...,,,,,,,,,,
15,,2022-08-14 11:32:38,0.137 sec,39,.56E-1,15.0,0.59293,0.762829,0.0,NaN,...,,,,,,,,,,
16,,2022-08-14 11:32:38,0.151 sec,43,.35E-1,15.0,0.496961,0.64921,0.0,NaN,...,,,,,,,,,,
17,,2022-08-14 11:32:38,0.166 sec,47,.21E-1,15.0,0.411619,0.541037,0.0,NaN,...,,,,,,,,,,
18,,2022-08-14 11:32:38,0.184 sec,52,.13E-1,15.0,0.338968,0.445215,0.0,NaN,...,,,,,,,,,,
19,,2022-08-14 11:32:38,0.201 sec,57,.83E-2,15.0,0.279634,0.36211,0.0,NaN,...,,,,,,,,,,

See the whole table with table.as_data_frame()

Variable Importances:

            variable  relative_importance  scaled_importance  percentage
0  petal length (cm)            16.520981           1.000000    0.445946
1   petal width (cm)            11.624002           0.703590    0.313763
2  sepal length (cm)             4.569942           0.276614    0.123355
3   sepal width (cm)             4.332131           0.262220    0.116936